/* tipografia en el head del html */
body {
  font-family: 'Oswald', sans-serif;
}

/* css común  */
/* div fondo html */
#fondo {
  position: fixed;
  /*posicion fija*/
  /*sin margenes*/
  top: 0;
  left: 0;
  /*_-_------*/
  width: 100%;
  height: 100%;
  background-image: url("./tenor.gif");
  background-repeat: repeat;
  background-size: 40% ;
  z-index: -1;
  /*capa y pinta sobre esto cosas*/
  /* opacity: 0.5; */
  /* background-size: 100%; */
  /*Tamaño img de fondo*/
  filter: alpha (opacity())
    /*compatibilidad con anterioroes exploradores*/
    position: absolute;
}

/* Este header es provisional mientra hago el logo */
header {
  height: 150px;
  background-color: black;
  background: radial-gradient(#31e4ae88, #111);
}

header h1 {
  text-align: center;
  margin-top: -180px;
  /* decoration nos permite estableces el formato*/
  /* text-decoration: none; */
  /* variant nos permite elegir la variante del tipo de letra  */
  font-variant: small-caps;
  font-weight: bold;
  font-size: 60px;
}

header h1 a {
  color: #31e4ae;
  text-decoration: none;
}

header img {
  margin-left: 44.5%;
  width: 200px;
  height: 200px;
}

/* La pseudoclase :hover interactua con un elemento con dispositivo señalador
per no necesariamente lo activa. Se activa cuando pasamos el puntero por encima */
/* header h1 a: hover {
  text-decoration: none;
} */
nav ul {
  float: none;
  list-style-type: none;
  /*quitamos estilos a la lista*/
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  width: 300px;
  margin: 3px;
}



nav ul li a {
  text-decoration: none;
  color: white;
  background-color: none;
  display: block;
  padding: 7px;
  text-align: center;
  s
  /**float: right;**/
}

li a:hover {
  background-color: #01feb5;
}

/* #border {
background-color: #01feb588;
} */

main {
  background-color: #30ca9d88;
  height: 400px;
  padding: 7px;
}
main ul {
  list-style-type: none;
  padding-left: 8px;
  margin-top: -200px;
  float: right;
  font-size: 11px;
}
main h2 {
  color: #01feb5;
  font-size: 30px;
}
main p {
  color: white;
}

/* main form {
  text-align: center;
} */
footer {
  background-color: #01feb588;
  /* float: right;
  margin-top: -75px; */
}

footer p {
  text-align: right;
  padding: 5px;
}

/* PRODUCTOS LIBROS */
table {
  border-style: solid;
  padding: left;
  width: 100%;
}
table  tr td{


}

table img {
  padding: 10px;
  float: left;
}

/* CONTACTO */
div.iframe ul {
  padding-right: 100px;
  padding-top: 50px;
}

.iframe div iframe {
  border: 2px #2ca68288 solid;
  margin-left: 140px;
  margin-top: 60px;
}

/* REGISTRO */
div.form {
   width: 100%;
   padding:10px;
	/* border-radius:10px; */
  text-align: center;
	margin:auto;

  /* border-color: #2ca682; */
  /* border: 2px #2ca68288 solid;
  padding: 10px; */
    /* border-style: solid; */
    /* text-align:center; */ */
}

div.form label{
	width:72px;
	/* font-weight:bold; */
	display:inline-block;
}
div.form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:20%;
	height:80px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}
