/* tipografia en el head del html */
body {
  font-family: 'Oswald', sans-serif;
}

/* css común  */
/* div fondo html */
#fondo {
  position: fixed;
  /*posicion fija*/
  /*sin margenes*/
  top: 0;
  left: 0;
  /*_-_------*/
  width: 100%;
  height: 100%;
  background-image: url("./tenor.gif");
  background-repeat: repeat;
  background-size: 40% ;
  z-index: -1;
  /*capa y pinta sobre esto cosas*/
  /* opacity: 0.5; */
  /* background-size: 100%; */
  /*Tamaño img de fondo*/
  filter: alpha (opacity())
    /*compatibilidad con anterioroes exploradores*/
    position: absolute;
}

/* Este header es provisional mientra hago el logo */
header {
  height: 150px;
  background-color: black;
  background: radial-gradient(#31e4ae88, #111);
}

header h1 {
  text-align: center;
  margin-top: -180px;
  /* decoration nos permite estableces el formato*/
  /* text-decoration: none; */
  /* variant nos permite elegir la variante del tipo de letra  */
  font-variant: small-caps;
  font-weight: bold;
  font-size: 60px;
}

header h1 a {
  color: #31e4ae;
  text-decoration: none;
}

header img {
  margin-left: 44.5%;
  width: 200px;
  height: 200px;
}

/* La pseudoclase :hover interactua con un elemento con dispositivo señalador
per no necesariamente lo activa. Se activa cuando pasamos el puntero por encima */
/* header h1 a: hover {
  text-decoration: none;
} */
nav ul {
  float: none;
  list-style-type: none;
  /*quitamos estilos a la lista*/
  margin: 0;
  padding: 0;
  height: 100%;
}

nav ul li {
  display: inline-block;
  width: 22%;
  margin: 0.5%;
}



nav ul li a {
  text-decoration: none;
  color: white;
  background-color: none;
  display: block;
  padding: 7px;
  text-align: center;
  s

}

li a:hover {
  background-color: #01feb5;
}


main {
  background-color: #30ca9d88;
  height: 100%;
  padding: 7px;
}
main ul {
  list-style-type: none;
  padding-left: 8px;
  margin-top: -200px;
  float: right;
  font-size: 11px;
}
main h2 {
  color: #01feb5;
  font-size: 30px;
}
main p {
  color: white;
}


footer {
  background-color: #01feb588;

}

footer p {
  text-align: right;
  padding: 5px;
}

/* ----------------------PRODUCTOS LIBROS-------------------- */
table{
  border: 2px #01feb588 solid ;

padding: left;
  width: 100%;
}
table td{
  border: 2px #01feb588 solid ;

}

table p{
text-align: justify;
margin-top: 1%;
}

table img {
  padding: 10px;
  float: left;

}
/* -----------------DESCRIPCIÓN PRODUCTOS -----------------*/
div.descripcion img{
  width:130px;        /*Ancho de la imagen nueva, aunque en este caso son iguales.*/
  height:200px;       /*Alto de la imagen nueva, aunque en este caso son iguales.*/
  padding-left:1%; /*Padding igual al ancho de la imagen nueva*/
/* width: 300px;
height: 450px; */
}

/* ------------------------CONTACTO -------------------*/
div.iframe h2{
  margin-top: 3%;
  margin-left: 22%;
}
div.iframe ul {
  padding-right: 100px;
  padding-top: 50px;
}

.iframe div iframe{
  border: 2px #2ca68288 solid;
  margin-left: 14%;
  margin-top: 1%;
}

/*------------------------- REGISTRO---------------------- */
div.form {
   width: 100%;
   padding:10px;
	/* border-radius:10px; */
  text-align: center;
	margin:auto;

}
div.form table{
  margin-left: -0.7%;
}
div.form label{
  /* espacio dentro de las tablas */
	width:18%;
	/* font-weight:bold; */
	display:inline-block;
}
div.form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:20%;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
}
